.content-body{
    width: 1000px;
    display: inline-block;
    text-align: center;
} 

.form-login{
    margin-top: 100px;
    width: 500px;
    display: inline-block;
    border: 1px solid #838383;
    padding: 2em;
}

.form-login-border{
    border-radius:10px;
    box-shadow:inset -5px -5px 5px 0 #00000080, 
               inset 5px 5px 5px 0 #ffffff80;
}

.border-none{
    border: none;
    outline: none;
}

.input-text{
    outline: none;
    height: 25px;
    padding-left: 15px;
    margin: 5px auto;
    border: 1px solid #999;
}

.input-text:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #f5edab !important; /* Цвет фона */
    -webkit-text-fill-color: #000 !important; /* цвет текста */
    color: #999 !important; /* цвет текста */
    border: 1px solid #999 !important;
}

.login-btn {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #ff0000;
    padding: .5em 3.5em;
    outline: none;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
  } 
.login-btn:hover { background: #e85f4c; } /* при наведении курсора мышки */
.login-btn:active { background: #980f00; } /* при нажатии */

.btn-round{
    background-color: #fff;
    border: none;
}

a.register{
    text-decoration: none;
    font-size: 12px;
    color: #838383;
}


.example-2 .btn-tertiary{
    color: #555;
    padding: 0;
    line-height: 26px;
    width: 150px;
    margin: auto;
    display: block;
    position: relative;
    border: 2px solid #555;
    overflow: hidden;
    font-size: 12px;
}
.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{
    color:#888;
    border-color:#888
}
.example-2 .input-file{
    overflow: hidden;
    position: absolute;
    top: 0;
    font-size: 50px;
    right: 0;
    cursor: pointer;
}
