{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="content-body">
    <h1 class="text-aling">О нас</h1>        
    <div class="text-content">
        <p>Magezine Comics&nbsp;&mdash; первый настоящий магазин комиксов и&nbsp;околокомиксовой атрибутики. Мы&nbsp;специализируемся на&nbsp;продаже комиксов DC, Marvel, Dark Horse, Vertigo, Image, Oni Press, Mirage Studios, BOOM! Studios, IDW, Archie, российских комиксов и&nbsp;других. Наш центральный магазин находится по&nbsp;адресу: Москва, Театральный проезд 5/1 (подробнее на&nbsp;странице &laquo;Как нас найти&raquo;). У&nbsp;нас есть доставка по&nbsp;всему миру (подробнее в&nbsp;разделе &laquo;Доставка и&nbsp;оплата&raquo;).

        Мы&nbsp;продаем только лицензионные и&nbsp;сертифицированные комиксы. Мы&nbsp;не&nbsp;занимаемся продажей контрафактной продукции, комиксов с&nbsp;фанатским переводом и&nbsp;т.д.</p>
    </div>
</div>
{% endblock content %}         